// Colors
$primary-color: #003459;
$secondary-color: #002a48;
$text-black: #000000;
$text-grey: #667479;
$background-color: #fdfdfd;
$text-input: #99a2a5;

// Typography
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-primary: "SVN-Gilroy", sans-serif;

// Breakpoints
$mobile: 576px;
$desktop: 1200px;
