.footer {
  background-color: $color-secondary;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  .section-wrapper {
    padding-top: 80px;
    @media (max-width: $mobile) {
      padding-top: 40px;
    }
  }

  .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid $color-light-grey;

    @media (min-width: $desktop) {
      .mb-5 {
        margin-bottom: 0;
      }
    }
  }

  .section-subcribe {
    background-color: $color-primary;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;

    .section-title {
      max-width: 389px;
      font-weight: 700;
      font-size: $text-lg;
      text-transform: capitalize;
      color: $color-white;
    }
    @media (min-width: $desktop) {
      .section-title.mb-5 {
        margin-bottom: 0;
      }
    }

    .form-register {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 12px;
      background-color: $color-white;
      border-radius: 14px;

      .from-input {
        border: 1px solid $color-grey-secondary;
        border-radius: 8px;
        padding: 14px 28px;
        flex: 1 1 auto;
        min-width: 0;

        &::placeholder {
          font-size: $text-sm;
        }
      }
      @media (min-width: $desktop) {
        .from-input.mb-3 {
          margin-bottom: 0;
        }
      }

      .btn-primary {
        padding: 14px 30.5px;
        border-radius: 8px;
      }
    }
  }

  .section-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    @media (min-width: $desktop) {
      .section-logo.mb-8 {
        margin-bottom: 0;
      }

      .section-policy.mb-2 {
        margin-bottom: 0;
      }
    }

    .section-policy .policy-link {
      color: $color-grey;
      font-weight: $font-500;
      font-size: $text-sm;
    }
  }
}

@media (max-width: $mobile) {
  .footer .section-subcribe {
    flex-direction: column;

    .section-title {
      font-size: $text-md-lg;
    }

    .btn-primary {
      width: 100%;
    }

    .from-input {
      margin-right: 0;
    }
  }

  .footer .section-content {
    flex-direction: column;

    .nav {
      width: 100%;

      .list-gap-xl {
        gap: 0;
        width: 100%;
      }

      .list-nav {
        justify-content: space-between;
      }
    }

    .section-contact .list-gap-lg {
      gap: 40px;
    }
  }

  .footer .section-bottom {
    flex-direction: column;

    .section-logo {
      order: 1;
    }

    .section-policy {
      order: 2;
    }

    .section-copyright {
      order: 3;
    }
  }
}
