.header {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
  &-logo {
    margin-right: 24px;
  }
  .section-nav {
    display: flex;
    .nav {
      display: flex;
      align-items: center;
    }
    .list-nav {
      display: flex;
    }
    .list-item {
      margin: 0 24px;
      a {
        font-weight: $font-700;
        font-size: 16px;
        line-height: 24px;
        color: $primary-color;
      }
    }
  }
  .section-actions {
    display: flex;
    align-items: center;
    .form-search {
      display: flex;
      width: 280px;
      padding: 12px 0;
      padding-left: 16px;
      border-radius: 46px;
      background-color: $background-color;
      input {
        border: none;
      }
    }
    .icon-search {
      padding-right: 12px;
    }
    .btn-primary {
      margin-left: 14px;
      background-color: $primary-color;
      font-size: 16px;
      line-height: 24px;
      font-weight: $font-700;
      padding: 0 28px;
      height: 100%;
    }
  }
  .header-selector {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 8px;
    margin-left: 14px;
    img {
      width: 21px;
      height: 21px;
    }
    .currency {
      display: block;
      margin-left: 6px;
      border: none;
      user-select: none;
      background: transparent;
    }
  }
}
