.card {
  .card-content {
    padding: 8px;
    border-radius: 12px;
    background-color: $color-white-secondary;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    .card-infor {
      padding: 8px;
      .card-title {
        font-weight: $font-700;
        font-size: $text-md;
        color: $color-black-secondary;
        line-height: 24px;
      }
      .card-desc {
        color: $color-grey;
        font-size: 12px;
        line-height: 18px;
        .txt-bold {
          font-weight: $font-700;
        }
        .dot {
          margin: 0 12px;
        }
      }

      .card-category {
        display: inline-block;
        padding: 2px 10px;
        background-color: $color-infor;
        color: $color-white-secondary;
        border-radius: 28px;
        margin-bottom: 10px;
      }

      .card-title-knowledge {
        padding-bottom: 6px;
      }

      .card-desc-knowledge {
        font-weight: $font-400;
        color: $color-black-third;
        font-size: $text-sm;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .card-price {
        color: $color-black-secondary;
        font-size: $text-sm;
        font-weight: $font-700;
        line-height: 20px;
      }
    }

    .card-gift {
      display: flex;
      align-items: center;
      padding-left: 10px;
      margin: 4px 0;
      background-color: $color-secondary;
      border-radius: 8px;
      .dot {
        padding: 10px 8px;
      }
      font-weight: 700;
      font-size: $text-sm;
      color: $color-primary-dark;
    }
  }
}
