.img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-fluid {
    max-width: 100%;
    height: auto;
  }
  &-1x1 {
    aspect-ratio: 1/1;
  }
  &-16x9 {
    aspect-ratio: 16/9;
  }
  &-9x16 {
    aspect-ratio: 9/16;
  }
  &-3x2 {
    aspect-ratio: 3/2;
  }
  &-115x40 {
    aspect-ratio: 115/40;
  }
}
