.section {
  .section-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    align-items: center;
    align-items: end;

    .subtitle {
      font-weight: $font-500;
      color: $color-black;
      font-size: $text-md;
      line-height: 24px;
      padding-bottom: 2px;
    }

    .title {
      font-weight: $font-700;
      font-size: $text-lg;
      line-height: 36px;
      color: $color-primary;
    }
    .btn-outline {
      display: flex;
      align-items: center;
      padding: 12px 28px;
    }
  }
}

.section-partners {
  .section-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .section-wrapper {
    padding: 40px 0;
  }
}

.section-products {
  .section-wrapper {
    padding: 60px 0;
  }
}
