.section-banner {
  position: relative;
  .section-content {
    position: absolute;
    top: 180px;
    left: 130px;
    .section-title {
      color: $dark-blue-color;
      font-weight: $font-800;
      font-size: $text-4xl;
      line-height: 68px;
      width: 465px;
      margin-bottom: 24px;
      .subtitle {
        color: $dark-blue-color;
        font-weight: $font-700;
        font-size: $text-2xl;
        line-height: 60px;
        width: 452px;
      }
    }
    .description {
      font-weight: $font-500;
      font-size: $text-md;
      line-height: 24px;
      margin-bottom: 34px;
      width: 480px;
    }
    .btn-group {
      display: flex;

      .btn-outline {
        display: flex;
        align-items: center;
        padding: 14px 28px;
        margin-right: 20px;
        .btn-text {
          font-weight: $font-500;
          font-size: $text-md;
          line-height: 24px;
          margin-right: 4px;
        }
      }

      .btn-primary {
        padding: 14px 28px;
        font-weight: $font-500;
        font-size: $text-md;
        line-height: 24px;
        width: 163px;
      }
    }
  }
}
